body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  margin: 30px auto;
  border: 2px solid rgb(241, 177, 1);
  width: 65%;
  /* text-align: center; */
  /* margin-left: 230px; */
  padding: 20px;
}
.center .line{
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 2px solid ;
}
.prop {
  width: 65%;
  margin: 30px auto;
}